<div class="main-container">
  <div *ngIf="loader" class="center-loder cs-loader">
    <div class="outer">
      <div class="innear">
        <mat-spinner class="loader"></mat-spinner>
      </div>
    </div>
  </div>
  
  <div class="middle-container">
    <div class="page-heading">
      <div class="heading-text flex-heading">
        <div class="content">
          <h2>Expense</h2>
          <p>Total Expense: <span>{{expense_list.length}}</span></p>
        </div>
        <div class="item-filter flex-item">
          <mat-form-field class="master-head-date">
            <input matInput [matDatepicker]="picker" placeholder=" Date  From " [(ngModel)]="search.from" name="date_from" #date_form="ngModel" max="{{today_date}}" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field class="master-head-date">
            <input matInput [matDatepicker]="date" placeholder=" Date To" [(ngModel)]="search.to" name="date_to" #date_to="ngModel" max="{{today_date}}" readonly>
            <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
            <mat-datepicker #date></mat-datepicker>
          </mat-form-field>
          
          <div class="cs-btn">
            <div class="in-btn">
              <button  mat-raised-button color="warn" class="h35-btn" (click)="search_by_date(search.to,search.from)">Go</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="left-auto">
      <div class="tabs right-tab none-af">
        <ul>
          <li><a class="pr40 pending {{status=='Pending' ? 'active':''}}" (click)="change_status('Pending')">Pending <span class="counter">{{pending_exp ? pending_exp : 0}}</span></a></li>
          <li><a class="pr40 complete {{status=='Approved' ? 'active':''}}" (click)="change_status('Approved')">Approved<span class="counter">{{approved_exp ? approved_exp :0}}</span></a></li>
          <li><a class="pr40 reject {{status=='Reject' ? 'active':''}}" (click)="change_status('Reject')">Reject <span class="counter">{{reject_exp ? reject_exp : 0}}</span></a></li>
          
        </ul>
      </div>
      <div class="top-pagination">
        <ul>
          <li class="refresh-area">
            <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="getExpenseList(page_limit,start,'refresh')"><i class="material-icons"> refresh</i></a>
          </li>
          <li *ngIf="count>=100"><p>Pages {{pagenumber}} Of {{total_page}}</p></li>
          
          <li *ngIf="count>=100">
            <button mat-button class="left-btn" (click)="getExpenseList(page_limit,start-page_limit)" [disabled]="pagenumber == 1">
              <i class="material-icons">keyboard_arrow_left</i></button>
            </li>
            
            <li *ngIf="count>=100">
              <input type="text" placeholder="GO TO" name="pagenumber" (keyup.enter)="getExpenseList(page_limit,((pagenumber*page_limit)-page_limit))" [(ngModel)]="pagenumber">
            </li>
            
            <li *ngIf="count>=100">
              <button mat-button class="right-btn"  (click)="getExpenseList(page_limit,(start+page_limit))" [disabled]="pagenumber == total_page">
                <i class="material-icons">keyboard_arrow_right</i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    
    
    <div class="container-outer padding0">
      <div class="container" >
        <div class="row">
          <div class="cs-table ss-scroll">
            <table>
              <tr>
                <div class="ss-sticky">
                  <div class="table-head">
                    <table>
                      <tr>
                        <th class="w60">S. No</th>
                        <th class="w110">Date</th>  
                        <th class="w250">Sales Executive</th>
                        <th class="w110 text-right">Amount</th>
                        <th >Description</th>
                      </tr>
                    </table>
                  </div>
                  <div class="table-head bdrt">
                    <table>
                      <tr>
                        <th class="w60 pr-search"></th>
                        <th class="w110 pr-search"> </th>
                        <th class="w250 pr-search">
                          <div class="w 110 th-search-acmt">
                            <mat-form-field class="example-full-width cs-input select-input">
                              <input  matInput placeholder="Search By Username" (input)="searchName(search.username)" name="username" #username="ngModel" [(ngModel)]="search.username">
                            </mat-form-field>
                          </div>
                        </th>  
                        <th class="w110 pr-search">
                        </th>  
                        <!-- <th class="w150 pr-search">
                        </th>  
                        <th class="w150 pr-search"></th>    -->
                        <!-- <th class="w100 pr-search">
                          <div class="th-search-acmt">
                            <mat-form-field class="wp100">
                              <mat-select name="type" placeholder="Select Type" [(ngModel)]="search.status" (selectionChange)="searchStatus($event.value)">
                                <mat-option value="Pending">Pending</mat-option>
                                <mat-option value="Reject">Reject</mat-option>
                                <mat-option value="Approved">Approved</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </th> -->
                        <!-- <th class="w200 pr-search">  </th>   -->
                        <th></th>
                      </tr>
                    </table>
                  </div>
                </div>
              </tr>
              <tr>
                <div class="table-container">
                  <div class="table-content">
                    <table>
                      <tr *ngFor="let data of expense_list;let i=index">
                        <td class="w60">{{i+1}}</td>
                        <td class="w110">{{data.date_created | date:'d MMM, y'}}</td>
                        <td class="w250">{{data.name | titlecase}}</td>
                        <td class="w110 text-right"> &#x20B9; {{data.amount}}</td>
                        
                        <!-- <td class="w150">
                          <ul class="img-secation">
                            <li  *ngFor="let exp of data.exp_types">
                              <span>{{exp.expense_type}}-{{exp.expense_value}},</span>
                            </li>
                          </ul>
                        </td> -->
                        
                        <!-- <td class="w150">
                          <ul class="img-secation">
                            <li  *ngFor="let file of data.docs">
                              <a *ngIf="file.file_name" href="{{constant.upload_url}}/{{file.file_name}}" download={{file.file_name}} target="_blank">
                                
                                <img style="height: 25px; width: 25px;" *ngIf="file.file_type!='pdf' && file.file_type!='doc' && file.file_type!='docx' && file.file_type!='csv' && file.file_type!='xls' && file.file_type!='xlsx'" src="assets/img/landscape.svg">
                                
                                <img style="height: 25px; width: 25px;" *ngIf="file.file_type=='pdf'" src="assets/img/pdf.svg" >
                                
                                <img  style="height: 25px; width: 25px;" *ngIf="file.file_type=='doc' || file.file_type=='docx'"src="assets/img/doc.svg">
                                
                                <img style="height: 25px; width: 25px;" *ngIf="file.file_type=='csv' || file.file_type=='xls'"src="assets/img/excel.svg">
                              </a>
                            </li>
                          </ul>
                        </td> -->
                        <!-- <td class="w100 {{data.status=='Reject' ? 'red-clr' : 'green-clr'}}">{{data.status| titlecase}}  -->
                          
                          <!-- </td> -->
                          <!-- <td class="w200"> {{data.reason_reject ? data.reason_reject : 'N/A'}}
                            
                          </td> -->
                          
                          <td>{{data.description}}
                            <div class="action-btns">
                                <a mat-button class="view" routerLink="/expense-master-module/expense-detail/{{data.id}}" routerLinkActive="active"><i class="material-icons">remove_red_eye</i>View</a>

                              <!-- <button *ngIf="data.status!='Approved'" mat-button class="edit" matTooltip="Accept" (click)="verify(data.id,i)"><i class="material-icons">check_circle</i>Verify</button>
                              <button *ngIf="data.status!='Reject'" mat-button class="delete" (click)="reject(data.id,i,'expense_reason_reject')" matTooltip="Reject">  <i class="material-icons">cancel</i>Reject </button> -->
                              <button mat-button class="delete" (click)="delete(data.id,i)" matTooltip="Delete"><i class="material-icons">delete_sweep</i>Delete</button>
                            </div>
                          </td>
                          
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="no-record-data-text" *ngIf="!expense_list?.length"> 
                      <img src="assets/img/no-record-found.png">
                    </div>
                </tr>
              </table>
              
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="h50"></div>