<div class="main-container">
  <div *ngIf="loader" class="center-loder">
    <div class="outer">
      <div class="innear">
        <mat-spinner class="loader"></mat-spinner>
      </div>
    </div>
  </div>
  
  <div class="main-outer">
    <div class="main-inner">
      <div class="middle-container">
        <div class="page-heading">
          <div class="heading-text pr20">
            <h2>Holidays</h2>
            <p>Total Holidays ({{holidays_data.length}})</p>
          </div>
        </div>
        
        <div class="top-pagination">
          <ul>
            <li>
              <div class="tabs">
                <ul>
                  <li ><a class="active">HOLIDAYS</a></li>
                  <li ><a routerLink="/leave-holiday-master/leave-rule-list">LEAVES RULES</a></li>
                </ul>
              </div>
            </li>
            <li class="refresh-area">
              <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="holiday_data()"><i class="material-icons"> refresh</i></a>
            </li>
            <li class="add-btn">
              <button matTooltip="Add Holiday" routerLink="/leave-holiday-master/add-holiday" routerLinkActive="active">Add New</button>
            </li>
          </ul>
        </div>
      </div>
      
      <div class="container-outer padding0 ">
        <div class="container" >
          <div class="row">
              <div class="cs-table ss-scroll">
                <table>
                  <tr>
                    <div class="ss-sticky">
                      <div class="table-head">
                        <table class="sno-border">
                          <tr>
                            <th  class="w30">&nbsp;</th>
                            <th class="w200">Date</th>
                            <th class="w200">Day</th>
                            
                            <th> Type</th>
                            <th> Title</th>
                            <th>State</th>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="table-container">
                      <div class="table-content">
                        <table class="sno-border">
                          <tr *ngFor="let data of holidays_data;let i=index">
                            <td class="w30">{{i+1}}.</td>
                            <td class="w200">{{data.holiday_date | date:'d MMM, y'}}</td>
                            
                            <td class="w200">{{data.holiday_date | date:'EEEE'}}</td>
                            <td>{{data.type}}</td>
                            <td>{{data.title}}</td>
                            <td >{{data.state ? data.state : '-----'}}
                                <div class="action-btns">
                                    <!-- <a mat-button class="view"><i class="material-icons">remove_red_eye</i> View</a> -->
                                    <button  mat-button class="delete" (click)="delete(data.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                                  </div>
                            </td>
                            
                            <!-- <td class="green-clr" *ngIf="data.state ==''">------
                              <div class="action-btns">
                                <a mat-button class="view"><i class="material-icons">remove_red_eye</i> View</a>
                                <button  mat-button class="delete" (click)="delete(data.id)"><i class="material-icons">delete_sweep</i> Delete</button>
                              </div>
                            </td> -->
                          </tr>
                          
                        </table>
                      </div>
                    </div>
                  </tr>
                </table>
                
                
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="h70"></div>