<!-- <div class="master-tab" >
    <ul>
      <li routerLink="/category-list" routerLinkActive="active"><a>Category Master</a></li>
      <li routerLink="/product-list" routerLinkActive="active"><a>Products</a></li>
      <li routerLink="/sale-user-list" routerLinkActive="active"><a>Users</a></li>
      <li routerLink="/discount-list" routerLinkActive="active"><a>Discount/GST</a></li>
      <li routerLink="/territory-list" routerLinkActive="active"><a>Postal / Territory Master</a></li>
      <li routerLink="/gift-list" routerLinkActive="active"><a>POP & Gift</a></li>
      <li routerLink="/holiday-list" routerLinkActive="active"><a>Leaves & Holidays</a></li>
      <li routerLink="/role-list" routerLinkActive="active"><a>Role</a></li>

      <li routerLink="/annoucement-list" routerLinkActive="active"><a>Announcement</a></li>
    </ul>
  </div> -->
  