<div class="master-tab">
  <ul>
    <!-- <li   ><a>Category Master</a></li>
    <li  routerLink="/add-product" routerLinkActive="active"><a>Products</a></li>
    <li ><a>Users</a></li>
    <li  routerLink="/add-discount" routerLinkActive="active"><a>Discount/GST</a></li>
    <li routerLink="/territory-add" routerLinkActive="active"><a>Postal / Territory Master</a></li>
    <li routerLink="/add-gift" routerLinkActive="active"><a>POP & Gift</a></li>
    <li  routerLink="/add-holiday" routerLinkActive="active"><a>Leaves & Holidays</a></li>
    <li  routerLink="/add-role" routerLinkActive="active"><a>Role</a></li>
 -->

    <!-- <li *ngIf="addPermission.CategoryMaster"  routerLink="/add-category" routerLinkActive="active"><a>Category Master</a></li>
    <li *ngIf="addPermission.ProductMaster" routerLink="/add-product" routerLinkActive="active"><a>Products</a></li>
    <li *ngIf="addPermission.UserMaster" routerLink="/user-add" routerLinkActive="active"><a>Users</a></li>
    <li *ngIf="addPermission.Discount/GSTMaster" routerLink="/add-discount" routerLinkActive="active"><a>Discount/GST</a></li>
    <li *ngIf="addPermission.Postal/TerritoryMaster" routerLink="/territory-add" routerLinkActive="active"><a>Postal / Territory Master</a></li>
    <li *ngIf="addPermission.PopGiftMaster" routerLink="/add-gift" routerLinkActive="active"><a>POP & Gift</a></li>
    <li *ngIf="addPermission.LeavesHolidayMaster" routerLink="/add-holiday" routerLinkActive="active"><a>Leaves & Holidays</a></li>
    <li *ngIf="addPermission.RoleMaster" routerLink="/add-role" routerLinkActive="active"><a>Role</a></li> -->
  </ul>
</div>
