<div class="main-container" >
  <div *ngIf="loader" class="center-loder">
    <div class="outer">
      <div class="innear">
        <mat-spinner class="loader"></mat-spinner>
      </div>
    </div>
  </div>
  <div class="container-outer padding15">
    <div class="row">
      <div class="col s3">
        <div class="ds-counter bg1">
          <p>Total Lead</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>500</h1>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col s3">
        <div class="ds-counter bg2">
          <p>Distributor</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>76</h1>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col s3">
        <div class="ds-counter bg3">
          <p>Direct Dealer</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>22</h1>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col s3">
        <div class="ds-counter bg4">
          <p>Retailer</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>40</h1>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col s3">
        <div class="ds-counter bg5">
          <p>Today Checkin</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>20</h1>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col s3">
        <div class="ds-counter bg6">
          <p>Order</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>100</h1>
              <p>Total</p>
            </a>
            <a class="ds-figure">
              <h1>15</h1>
              <p>Today</p>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col s3">
        <div class="ds-counter bg7">
          <p>Sale</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1> &#x20B9; 10,0000</h1>
              <p>Primary</p>
            </a>
            <a class="ds-figure">
              <h1>&#x20B9; 10,0000</h1>
              <p>Secondary</p>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col s3">
        <div class="ds-counter bg8">
          <p>Payment</p>
          <div class="mdlcont">
            <a class="ds-figure">
              <h1>&#x20B9; 10,0000</h1>
            </a>
          </div>
        </div>
      </div>
    </div>
    
    
    
    <div class="row">
      <div class="col s6">
        <div class="ds-notice">
          <div class="head">
            Latest Order
          </div>
          <div class="ds-list">
            <ul>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
              <li>
                <p>
                  <a>#ORD1234</a>
                  <a>Rahul Kumar</a>
                </p>
                <p>
                  <span>Create By:</span>Venkata Ramana Vucha
                </p>
                <div class="inr-icon"> <p>&#8377; 20, 000</p></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="ds-notice">
          <div class="head" style="background: #3b8ad9;">
            Latest Payment
          </div>
          <div class="ds-list">
            <ul>
              <li>
                <p>#1234 -Cash</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
              <li>
                <p>#1234 -NEFT</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
              <li>
                <p>#1234 -NEFT</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
              <li>
                <p>#1234 -NEFT</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
              <li>
                <p>#1234 -NEFT</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
              <li>
                <p>#1234 -NEFT</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
              <li>
                <p>#1234 -NEFT</p>
                <p><a>Rahul Kumar</a></p>
                <div class="inr-icon"> 
                  <p>&#8377; 20, 000</p>
                  <a>Rahul</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- <div class="col s4">
        <div class="graph">
          <img src="assets/img/chart.png">
        </div>
      </div> -->
    </div>
    
    
    <!-- <div class="row">
      <div class="col s8">
        <div class="graph">
          <img src="assets/img/graph.png">
        </div>
      </div>
      
      <div class="col s4">
        <div class="graph">
          <img src="assets/img/chart.png">
        </div>
      </div>
    </div> -->
    
    
    <div class="row">
      <div class="col s12">
        <div class="table-notice">
          <div class="head">
            Executive Today information
            <div>
              <input type="text" placeholder="Search ..." class="search-filter">
            </div>
          </div>
          <div class="ds-list">
            <table>
              <tr>
                <td class="w230">
                  <div class="cs-icon">
                    <span class="icon">A</span>
                    <a>Arijit Roychowdhury</a>
                  </div>
                </td>
                <td>
                  <div class="flex-address">
                    <p>Ghatikia Main Rd, Kalinganagar, Bhubaneswar, Odisha 751003, India</p>
                    <span class="date">10-Jul-2019 2:45 PM</span>
                  </div>
                </td>
                <td>
                  <ul>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="w230">
                  <div class="cs-icon">
                    <span class="icon">A</span>
                    <a>Arijit Roychowdhury</a>
                  </div>
                </td>
                <td>
                  <div class="flex-address">
                    <p>Ghatikia Main Rd, Kalinganagar, Bhubaneswar, Odisha 751003, India</p>
                    <span class="date">10-Jul-2019 2:45 PM</span>
                  </div>
                </td>
                <td>
                  <ul>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td class="w230">
                  <div class="cs-icon">
                    <span class="icon">A</span>
                    <a>Arijit Roychowdhury</a>
                  </div>
                </td>
                <td>
                  <div class="flex-address">
                    <p>Ghatikia Main Rd, Kalinganagar, Bhubaneswar, Odisha 751003, India</p>
                    <span class="date">10-Jul-2019 2:45 PM</span>
                  </div>
                </td>
                <td>
                  <ul>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a>
                        <div class="pnt">
                          <p>Counter Visit</p>
                          <div class="circule">
                            <div class="outer">
                              <div class="inner">
                                0
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                  <td class="w230">
                    <div class="cs-icon">
                      <span class="icon">A</span>
                      <a>Arijit Roychowdhury</a>
                    </div>
                  </td>
                  <td>
                    <div class="flex-address">
                      <p>Ghatikia Main Rd, Kalinganagar, Bhubaneswar, Odisha 751003, India</p>
                      <span class="date">10-Jul-2019 2:45 PM</span>
                    </div>
                  </td>
                  <td>
                    <ul>
                      <li>
                        <a>
                          <div class="pnt">
                            <p>Counter Visit</p>
                            <div class="circule">
                              <div class="outer">
                                <div class="inner">
                                  0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a>
                          <div class="pnt">
                            <p>Counter Visit</p>
                            <div class="circule">
                              <div class="outer">
                                <div class="inner">
                                  0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a>
                          <div class="pnt">
                            <p>Counter Visit</p>
                            <div class="circule">
                              <div class="outer">
                                <div class="inner">
                                  0
                                </div>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </td>
                </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="h50"></div>