<div class="main-container" > 
  <div *ngIf="loader" class="center-loder cs-loader">
    <div class="outer">
      <div class="innear">
        <mat-spinner class="loader"></mat-spinner>
      </div>
    </div>
  </div>

  <div class="main-outer">
    <div class="main-inner">
      <div class="middle-container">
        <div class="page-heading">
          <div class="heading-text">
            <h2>Leaves</h2>
            <p>Add New Leave Rule</p>
          </div>
        </div>
        <span class="required">Indicates required fields ( <sup>*</sup> )</span>
      </div>
      
      <div class="container-outer">
        <!-- <app-master-tab></app-master-tab> -->
        <form #f="ngForm" (ngSubmit)="f.valid && submit()">
          <div class="container height-fix">
            <div class="row">
              <div class="col s12">
                <div class="sprate-box padding0 main-bdr">
                  <div class="cs-heading">
                    <h2>ADD LEAVES</h2>
                  </div>
                  
                  
                  <div class="row mb0">
                    <div class="col s12 padding0">
                      <div class="tabs margin15">
                        <ul>
                          <li><a routerLink="/leave-holiday-master/add-holiday" routerLinkActive="active">HOLIDAYS</a></li>
                          <li><a class="active">LEAVES RULES</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                  <div class="from-fields">
                    <div class="row adjust-row">
                      <div class="col s8 pl0" [ngClass]="{'has-error' : f.submitted && !data.subject}">
                        <div class="control-field">
                          <mat-form-field class="cs-input">
                            <input matInput placeholder="Subject" type="text" name="subject" [(ngModel)]="data.subject" required>
                          </mat-form-field>
                          <mat-error *ngIf="f.submitted && !data.subject"> Subject is required</mat-error>
                        </div>
                      </div>
                      
                      <div class="col s4 pr0" [ngClass]="{'has-error' : f.submitted && !data.holiday_count}">
                        <div class="control-field">
                          <mat-form-field class="cs-input">
                            <input matInput placeholder="Number of Holidays" name="holiday_count" [(ngModel)]="data.holiday_count" required>
                          </mat-form-field>
                          <mat-error *ngIf="f.submitted && !data.holiday_count"> Holiday is required</mat-error>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
            <div class="row mt15">
              <div class="col s12">
                <div class="sprate-box padding0 main-bdr">
                  <div class="cs-heading">
                    <h2>DESCRIPTION</h2>
                  </div>
                </div>
                <textarea placeholder="DESCRIPTION" class="wp100 h250 padding15 outline bdrt0"></textarea>
                <mat-error *ngIf="f.submitted && !data.description"> Description is required</mat-error>
              </div>
            </div>  
            
            <div class="row">
              <div class="col s12">
                <div class="cs-btn fixedd mt32 text-right pr10">
                  <div class="in-btn">
                    <button mat-raised-button color="accent" >Save</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="h50"></div>